@using RealtimeTestApp.Models
@model RealtimeTestApp.Models.Order
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">@Model.Id</div>
            <div class="panel-body">
                <p>@Model.CreationDateTime</p>
                <p>@Model.PackagePrice</p>
                <p>@Model.TokenAmount</p>
                <p>@Model.State.ToString()</p>
            </div>
        </div>
    </div>
</div>

