@model RealtimeTestApp.Models.OrderListViewModel
@{
    ViewBag.Title = "TokenOrderForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>TokenOrderForm</h2>
    <div class="row">
        @using (Html.BeginForm("TokenOrder", "User"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Order.TokenAmount)
                @Html.EnumDropDownListFor(m => m.Order.TokenAmount, "Select Amount Package", new { @class = "form-control" })
            </div>

            <button class="btn btn-primary" type="submit"> Submit </button>
        }
    </div>


    <div class="row-fluid">
        @foreach (var order in Model.Orders)
        {
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">@order.Id</div>
                    <div class="panel-body">
                        <p>@order.CreationDateTime</p>
                        <p>@order.PackagePrice</p>
                        <p>@order.TokenAmount</p>
                    </div>
                    <div class="panel-footer text-center">
                        @Html.ActionLink("Details", "OrderDetails", "User", order, new { @class = "btn btn-primary" });
                    </div>
                </div>
            </div>
        }
    </div>
</div>



