@model RealtimeTestApp.Models.Auction

@{
    ViewBag.Title = "New Auction Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Auction Form</h2>
@using (Html.BeginForm("NewAuction", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ProductName)
        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StartingPrice)
        @Html.TextBoxFor(m => m.StartingPrice, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Image)
        @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
        <input type="file" id="file" accept="image/*">
    </div>

    <button class="btn btn-primary" type="submit"> Submit </button>
}


@Scripts.Render("~/Scripts/jquery-3.1.1.min.js");
<script>
    $("input#file")
        .on('change', function() {
            $("input#Image").text("/Content/Images/" + $("input#file").prop("files")['name']);
        });
</script>
