@model RealtimeTestApp.Models.Auction

@{
    ViewBag.Title = "New Auction Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Auction Form</h2>
@using (Html.BeginForm("NewAuction", "Auction", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ProductName)
        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StartingPrice)
        @Html.TextBoxFor(m => m.StartingPrice, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Image)
        <input type="file" id="file" name="file" accept="image/*">
    </div>

    @Html.HiddenFor(m => m.Id)

    <button class="btn btn-primary" type="submit"> Submit </button>
}

